* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #878a8c;
    font-family: sans-serif;
}

/* Heading */
h1 {
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    margin-top: 20px;
    text-shadow: 0 0 5px rgb(23, 24, 22), 0 0 5px rgb(72, 22, 12), 0 0 5px rgb(4, 139, 116);
}

h3 {
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 0;
    text-shadow: 0 0 5px rgb(23, 24, 22), 0 0 5px rgb(72, 22, 12), 0 0 5px rgb(4, 139, 116);
}

/* Container */
.calc-container {
    width: 90%;
    max-width: 800px;
    margin: 60px auto;
    padding: 15px;
    border-radius: 15px;
    background: #81a6be;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* Screen */
.screen input {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    text-align: right;
    background: #beccd2;
}

/* Common button style */
button {
    width: 100%;
    padding: 18px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #b8d8e6;
    cursor: pointer;
    transition: 0.2s;
}

/* Hover */
button:hover {
    background: rgb(106, 98, 220);
    color: aqua;
}

/* Click effect */
button:active {
    transform: scale(0.95);
    background: skyblue;
    color: blue;
}

/* Number grid */
.number {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

/* Symbols grid */
.symbols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

/* Brackets grid */
.brackets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Mobile */
@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 14px;
    }

    button {
        padding: 14px;
        font-size: 16px;
    }
}